CREATE DATABASE RadioDB
GO
USE [RadioDB]
GO
/****** Object:  Table [dbo].[Anuncios]    Script Date: 01/07/2024 1:29:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anuncios](
	[idAnuncio] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](255) NOT NULL,
	[subtitulo] [nvarchar](255) NULL,
	[contenido] [text] NOT NULL,
	[fechaPublicacion] [datetime] NOT NULL,
	[idUsuario] [int] NULL,
	[idCategoria] [int] NULL,
	[idImagenPrincipal] [int] NULL,
	[idVideoPrincipal] [int] NULL,
	[estado] [nvarchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAnuncio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 01/07/2024 1:29:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnlacesRelacionados]    Script Date: 01/07/2024 1:29:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnlacesRelacionados](
	[idEnlace] [int] IDENTITY(1,1) NOT NULL,
	[idAnuncio] [int] NOT NULL,
	[url] [nvarchar](255) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idEnlace] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 01/07/2024 1:29:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[idEvento] [int] IDENTITY(1,1) NOT NULL,
	[nombreevento] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NOT NULL,
	[fechaevento] [datetime] NOT NULL,
	[lugar] [nvarchar](100) NOT NULL,
	[organizador] [nvarchar](100) NOT NULL,
	[estado] [nvarchar](1) NOT NULL,
	[capacidad] [int] NOT NULL,
	[idCategoria] [int] NOT NULL,
	[Imagen] [varbinary](max) NULL,
 CONSTRAINT [PK_Eventos] PRIMARY KEY CLUSTERED 
(
	[idEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Imagenes]    Script Date: 01/07/2024 1:29:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imagenes](
	[idImagen] [int] IDENTITY(1,1) NOT NULL,
	[url] [nvarchar](255) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idImagen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramacionSemanal]    Script Date: 01/07/2024 1:29:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramacionSemanal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Dia] [nvarchar](50) NOT NULL,
	[Hora] [nvarchar](50) NOT NULL,
	[NombrePrograma] [nvarchar](100) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idCategoria] [int] NOT NULL,
 CONSTRAINT [PK__Programa__3214EC07B8CCC718] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 01/07/2024 1:29:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 01/07/2024 1:29:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[apellido] [nvarchar](100) NOT NULL,
	[correo] [nvarchar](100) NULL,
	[idRol] [int] NULL,
	[contrasena] [nvarchar](15) NOT NULL,
	[estado] [nvarchar](1) NULL,
 CONSTRAINT [PK__Usuarios__645723A6F89C9A34] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Videos]    Script Date: 01/07/2024 1:29:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videos](
	[idVideo] [int] IDENTITY(1,1) NOT NULL,
	[url] [nvarchar](255) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idVideo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Anuncios] ON 

SET IDENTITY_INSERT [dbo].[Anuncios] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([idCategoria], [nombre]) VALUES (1, N'Redes Sociales')
INSERT [dbo].[Categorias] ([idCategoria], [nombre]) VALUES (2, N'Geekos')
INSERT [dbo].[Categorias] ([idCategoria], [nombre]) VALUES (3, N'Evento')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Eventos] ON 

INSERT [dbo].[Eventos] ([idEvento], [nombreevento], [descripcion], [fechaevento], [lugar], [organizador], [estado], [capacidad], [idCategoria], [Imagen]) VALUES (1003, N'', N'asd', CAST(N'2024-07-07T23:24:00.000' AS DateTime), N'asd', N'asd', N'A', 20, 1, NULL)
SET IDENTITY_INSERT [dbo].[Eventos] OFF
GO
SET IDENTITY_INSERT [dbo].[Imagenes] ON 

INSERT [dbo].[Imagenes] ([idImagen], [url], [descripcion]) VALUES (1, N'/Content/images/Anuncios/OpenGraph-TW-1200x630.jpg', NULL)
INSERT [dbo].[Imagenes] ([idImagen], [url], [descripcion]) VALUES (2, N'C:\Users\LEGION\Desktop\a\RadioConexionLatam\Content\images\Anuncios\logo.png', N'logo.png')
INSERT [dbo].[Imagenes] ([idImagen], [url], [descripcion]) VALUES (3, N'/Content/images/Anuncios/logo.png', N'logo.png')
SET IDENTITY_INSERT [dbo].[Imagenes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProgramacionSemanal] ON 

INSERT [dbo].[ProgramacionSemanal] ([Id], [Dia], [Hora], [NombrePrograma], [idUsuario], [idCategoria]) VALUES (1, N'Lunes', N'4', N'Palestino', 3, 3)
INSERT [dbo].[ProgramacionSemanal] ([Id], [Dia], [Hora], [NombrePrograma], [idUsuario], [idCategoria]) VALUES (2, N'Martes', N'5', N'Diseno', 2, 2)
INSERT [dbo].[ProgramacionSemanal] ([Id], [Dia], [Hora], [NombrePrograma], [idUsuario], [idCategoria]) VALUES (11, N'Jueves', N'3', N'Hora Locaa', 4, 1)
SET IDENTITY_INSERT [dbo].[ProgramacionSemanal] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([idRol], [descripcion]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([idRol], [descripcion]) VALUES (2, N'Empleado')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([idUsuario], [nombre], [apellido], [correo], [idRol], [contrasena], [estado]) VALUES (1, N'Marcelo', N'Medina', N'johndoe@example.com', 1, N'123            ', N'I')
INSERT [dbo].[Usuarios] ([idUsuario], [nombre], [apellido], [correo], [idRol], [contrasena], [estado]) VALUES (2, N'Gustavo', N'Valle', N'gusvalle@gmail.com', 1, N'123123         ', N'A')
INSERT [dbo].[Usuarios] ([idUsuario], [nombre], [apellido], [correo], [idRol], [contrasena], [estado]) VALUES (3, N'Renato', N'Lupaca', N'renlupaca@gmail.com', 1, N'renlupaca      ', N'A')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Videos] ON 

INSERT [dbo].[Videos] ([idVideo], [url], [descripcion]) VALUES (1, N'https://www.youtube.com/watch?v=cfT1K1Nu1jQ', N'Video from https://www.youtube.com/watch?v=cfT1K1Nu1jQ')
INSERT [dbo].[Videos] ([idVideo], [url], [descripcion]) VALUES (2, N'https://www.youtube.com/watch?v=cfT1K1Nu1jQ', N'Video from https://www.youtube.com/watch?v=cfT1K1Nu1jQ')
INSERT [dbo].[Videos] ([idVideo], [url], [descripcion]) VALUES (3, N'https://www.youtube.com/watch?v=cfT1K1Nu1jQ', N'Video from https://www.youtube.com/watch?v=cfT1K1Nu1jQ')
SET IDENTITY_INSERT [dbo].[Videos] OFF
GO
ALTER TABLE [dbo].[Anuncios] ADD  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[Anuncios]  WITH CHECK ADD FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categorias] ([idCategoria])
GO
ALTER TABLE [dbo].[Anuncios]  WITH CHECK ADD FOREIGN KEY([idImagenPrincipal])
REFERENCES [dbo].[Imagenes] ([idImagen])
GO
ALTER TABLE [dbo].[Anuncios]  WITH CHECK ADD  CONSTRAINT [FK__Anuncios__idUsua__32E0915F] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Anuncios] CHECK CONSTRAINT [FK__Anuncios__idUsua__32E0915F]
GO
ALTER TABLE [dbo].[Anuncios]  WITH CHECK ADD FOREIGN KEY([idVideoPrincipal])
REFERENCES [dbo].[Videos] ([idVideo])
GO
ALTER TABLE [dbo].[EnlacesRelacionados]  WITH CHECK ADD FOREIGN KEY([idAnuncio])
REFERENCES [dbo].[Anuncios] ([idAnuncio])
GO
ALTER TABLE [dbo].[ProgramacionSemanal]  WITH CHECK ADD  CONSTRAINT [FK_ProgramacionSemanal_Categorias] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categorias] ([idCategoria])
GO
ALTER TABLE [dbo].[ProgramacionSemanal] CHECK CONSTRAINT [FK_ProgramacionSemanal_Categorias]
GO
ALTER TABLE [dbo].[ProgramacionSemanal]  WITH CHECK ADD  CONSTRAINT [FK_ProgramacionSemanal_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[ProgramacionSemanal] CHECK CONSTRAINT [FK_ProgramacionSemanal_Usuarios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK__Usuarios__idRol__35BCFE0A] FOREIGN KEY([idRol])
REFERENCES [dbo].[Roles] ([idRol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK__Usuarios__idRol__35BCFE0A]
GO
